
svelte/JohnyPetka.DatingService.Web/.vs/JohnyPetka.DatingService.Web/DesignTimeBuild/.dtbcache
svelte/JohnyPetka.DatingService.Web/.vs/JohnyPetka.DatingService.Web/v15/.suo
svelte/JohnyPetka.DatingService.Web/.vs/JohnyPetka.DatingService.Web/v15/Server/sqlite3/storage.ide-shm
svelte/JohnyPetka.DatingService.Web/.vs/JohnyPetka.DatingService.Web/v15/Server/sqlite3/storage.ide-wal
svelte/JohnyPetka.DatingService.Web/JohnyPetka.DatingService.Web/bin/Debug/netcoreapp2.1/JohnyPetka.DatingService.Web.deps.json
svelte/JohnyPetka.DatingService.Web/JohnyPetka.DatingService.Web/bin/Debug/netcoreapp2.1/JohnyPetka.DatingService.Web.runtimeconfig.dev.json
svelte/JohnyPetka.DatingService.Web/JohnyPetka.DatingService.Web/JohnyPetka.DatingService.Web.csproj
svelte/JohnyPetka.DatingService.Web/JohnyPetka.DatingService.Web/obj/Debug/netcoreapp2.1/JohnyPetka.DatingService.Web.assets.cache
svelte/JohnyPetka.DatingService.Web/JohnyPetka.DatingService.Web/obj/Debug/netcoreapp2.1/JohnyPetka.DatingService.Web.csproj.CoreCompileInputs.cache
svelte/JohnyPetka.DatingService.Web/JohnyPetka.DatingService.Web/obj/Debug/netcoreapp2.1/JohnyPetka.DatingService.Web.csproj.FileListAbsolute.txt
svelte/JohnyPetka.DatingService.Web/JohnyPetka.DatingService.Web/obj/JohnyPetka.DatingService.Web.csproj.nuget.cache
svelte/JohnyPetka.DatingService.Web/JohnyPetka.DatingService.Web/obj/project.assets.json
