@using ProductsManager.Models


@{
	ViewBag.Title = "orders ";
	Layout = "_Layout";
	List<OrderItem> Orders = ViewBag.Orders;
}
<h1>Cart</h1>
<table class="table table-striped table-sm">
	<thead>
		<tr>

			<th scope="col"> <b>ProductID</b></th>
			<th scope="col"> <b>Quantity </b></th>
			<th scope="col"> <b>Total price</b></th>
			<th scope="col"><b>Remove</b></th>

		</tr>
	</thead>
	@foreach (OrderItem pr in Orders)
	{
		<tr>
			<th> @pr.ProductID</th>
			<th> @pr.Quantity</th>
			<th> @pr.TotalPrice</th>
			<th>
				<a asp-controller="Home" asp-action="DeleteOrder" asp-route-id="@pr.OrderId">
					<button class="btn btn-primary">
						Remove
					</button>
				</a>
			</th>
		</tr>
	}

	
</table>
<div class="col-md-12 text-center">
	<form method="post">
		<button type="submit" class="btn-primary" asp-controller="Home" asp-action="Buy">
			Buy
		</button>
	</form>

</div>
